* {
  margin: 0;
  padding: 0;
}
h2 {
  margin-bottom: 30px;
}
.number_counter {
  max-width: 500px;
  margin: 100px auto;
  text-align: center;
}
.btn {
  padding: 10px;
  border-radius: 5px;
  border: 0;
  font-size: 20px;
  background: #f1f1f1;
  color: #222;
  text-transform: capitalize;
  transition: 0.3s;
}
.btn:hover {
  background: #ddd;
}
.buttons {
  display: flex;
  grid-gap: 10px;
  justify-content: center;
}

.single_slider {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider_text {
  max-width: 500px;
  text-align: center;
}
.slider_text h2 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
}
.slider_text p {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 500;
}

.next_prevBtn {
}
.btn {
  position: absolute;
  left: 50px;
  top: 50%;
  transform: translateY(-50%);
}
.btn.next_btn {
  left: auto;
  right: 50px;
}
